body {
    font-family: 'Courier New', Courier, monospace; /* stereotypical hacker font for a cybersecurity feel */
    background-color: black; /* dark background */
    color: #00FF00; /* bright green text */
    text-align: center;
    padding: 20px;
    margin: 0;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border: 1px solid #00FF00; /* green border for the input and button */
    background-color: black; /* black background for the buttons and input */
    color: #00FF00; /* green text */
    font-family: 'Courier New', Courier, monospace; /* same font for input and buttons */
}

button:hover {
    background-color: #00FF00;
    color: black; /* green background with black text on hover */
}

#result, #generated-password {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace; /* monospace font */
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00; /* Green glowing text effect */
}
